@use '../base/breakpoints' as breakpoints;

.BottomNav {
  box-shadow: var(--shadow);
  z-index: 5;
  height: var(--bottom-nav-height) !important;

  &__action {
    padding: 0 !important;
    color: color-mix(in srgb, var(--mui-palette-primary-main) 54%, transparent) !important;

    &:hover {
      color: var(--mui-palette-primary-main) !important;
    }

    &.Mui-selected {
      color: var(--mui-palette-primary-main) !important;
    }

    .MuiBottomNavigationAction-label {
      transition: margin 0.1s ease-in-out;
      font-size: 0.75rem !important;
      font-weight: 800;
      margin-top: 0 !important;

      @media only screen and (min-width: breakpoints.$breakpoint-sm) {
        font-size: 0.85rem !important;
      }
    }
  }
}
