.Card {
  background: linear-gradient(180deg, var(--card-top-bg-color) 0%, var(--card-bottom-bg-color) 100%);
  color: var(--mui-palette-white-main);
  padding: 1rem 2.25rem 1.75rem;
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;

  &__meta {
    opacity: 0.9;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-title), sans-serif;
    font-weight: 500;
  }

  &__title {
    margin-top: 1.5rem;
    font-family: var(--font-title), sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.7rem;
    text-align: center;
  }

  ul {
    margin-top: 2rem;
    padding-left: 1rem;
    font-size: 1rem;

    li {
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > div {
      flex: auto;
    }
  }

  &__btn {
    height: 2.5rem;
    border-radius: 2.5rem !important;
    background-color: color-mix(in srgb, var(--mui-palette-white-main) 40%, transparent) !important;
    color: var(--mui-palette-white-main) !important;
    padding: 1.5rem 1.25rem !important;
    font-family: var(--font-title), sans-serif !important;
    font-weight: 700 !important;
    font-size: 1rem !important;
    border: solid 0.125rem var(--mui-palette-white-main) !important;

    .MuiSvgIcon-root {
      font-size: 1.75rem !important;
    }

    &:hover {
      background-color: var(--mui-palette-white-main) !important;
      color: var(--mui-palette-primary-main) !important;
    }
  }

  &__user-vote {
    margin-top: 1rem;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__results {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
    margin: 0;
  }

  &__toggle-group {
    background-color: var(--mui-palette-background-paper);
    border: none;

    button {
      border: none;

      &.Mui-selected {
        color: var(--mui-palette-white-main);
        background-color: #5c90cf !important;
      }
    }
  }
}
