.Navbar {
  width: 100%;
  z-index: 5;

  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    height: var(--header-height);
  }

  &__logo {
    height: calc(var(--header-height) - 2rem);

    &:hover {
      opacity: 0.85;
    }
  }

  .ThemeSwitcher {
    position: absolute;
    right: 1rem;
  }
}
