@forward "BottomNav";
@forward "Card";
@forward "ListVote";
@forward "ListVotesModal";
@forward "Navbar";
@forward "NoVotesLeft";
@forward "ResultListe";
@forward "ResultsDeputes";
@forward "ResultsListes";
@forward "SharePopup";
@forward "StatsModal";
@forward "ThemeSwitcher";
