$width-mobile-3xs: 340px;
$width-mobile-2xs: 360px;
$width-mobile-xs: 380px;
$width-mobile: 450px;
$height-small: 730px;
$height-normal: 820px;
$height-xl: 900px;
$height-2xl: 1080px;
$height-3xl: 1200px;
