@use '../base/breakpoints' as breakpoints;

html {
  height: 100%;
  width: 100%;
  font-family: var(--font-body), sans-serif;
  font-weight: 700;

  &[data-mui-color-scheme="light"] {
    --link-color: #4751FD;
    --link-visited-color: #4751FD;
    --logo-svg-text-vote-color: #3E3E3E;
  }

  &[data-mui-color-scheme="dark"] {
    --link-color: #4751FD;
    --link-visited-color: #4751FD;
    --logo-svg-text-vote-color: #C1C1C1;
  }

  @media (max-height: 700px) {
    font-size: 14px;
  }

  @media (min-height: 1000px) {
    font-size: 22px;
  }

  @media (min-height: 1300px) {
    font-size: 24px;
  }
}

body {
  color: var(--mui-palette-primary-main);
  background: var(--mui-palette-background-main);
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden scroll;

  & > * {
    margin: 0 auto;
    max-width: 30rem;
  }
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none !important;
}
