:root {
  --font-body: Manrope;
  --font-title: Poppins;
  --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  --header-height: 5rem;
  --card-border-radius: 2rem;
  --card-top-bg-color: #9B5ADB;
  --card-bottom-bg-color: #6000C1;
}
