{
  "overrides": [
    {
      "files": [
        "*.scss",
        "*.sass"
      ],
      "options": {
        "printWidth": 200,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true
      }
    }
  ]
}
