.About {
  width: 100%;
  padding: 1rem;

  &__title {
    margin-top: 0.5rem;
  }

  &__subtitle {
    font-family: var(--font-title), sans-serif;
    font-weight: 600;

    & + * {
      margin-top: 0.5rem !important;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    background-color: var(--mui-palette-background-paper);
    border-radius: 1rem;
    padding: 1rem;
  }

  &__section {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      margin-top: 1.5rem;
    }

    &:not(:first-of-type) {
      margin-top: 2.5rem;
    }
  }

  &__theme-switcher {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;

    .About__btn {
      margin-top: 0 !important;
      border-radius: 0.5rem !important;
      padding: 0.25rem !important;
      min-width: unset;
      aspect-ratio: 1;

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    width: 100%;

    strong {
      font-weight: 800;
    }
  }

  &__btn {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
