.MesVotes {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  &__title {
    display: block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &__results {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__empty {
    text-align: center;
  }

  .Card {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
