.Votes {
  padding: 1rem 1rem 2rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__stack {
    flex: 1;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: end;
  }

  &__actions {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    .actions {
      &__pour,
      &__contre,
      &__passer {
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: unset !important;
        background-color: var(--mui-palette-white-main);

        /* transition: 0.2s all linear !important; */

        svg, img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &.blur {
          filter: blur(5px);
        }
      }

      &__pour, &__contre {
        width: 5rem;
        height: 5rem;
        padding: 1.25rem !important;
      }

      &__pour {
        &:hover {
          background-color: var(--mui-palette-green-main);

          svg {
            fill: var(--mui-palette-white-main);
          }
        }
      }

      &__contre {
        &:hover {
          background-color: var(--mui-palette-secondary-main);

          svg {
            fill: var(--mui-palette-white-main);
          }
        }
      }

      &__passer {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0.5rem !important;
      }
    }
  }

  &__progress {
    position: fixed;
    bottom: 56px;
    left: 0;
    height: 0.5rem;
    width: 100%;

    .progress {
      &__bar {
        background-color: var(--mui-palette-primary-main);
        position: absolute;
        transition: width 0.3s ease-in-out;
        border-radius: 0 0.5rem 0.5rem 0;
        display: block;
        height: 0.5rem;
        padding: 0;
        margin: 0;
      }
    }
  }

  .swipe-card {
    &__container {
      border-radius: var(--card-border-radius);
    }

    &__ribbon-like,
    &__ribbon-dislike {
      border-radius: 1rem;
    }

    &__image-container {
      display: none;
    }

    &__content {
      height: 100%;
      width: 100%;
      background: color-mix(in srgb, var(--card-bottom-bg-color) 70%, #000) !important;
    }
  }
}
