@use '../base/breakpoints' as breakpoints;

.Welcome {
  --welcome-container-max-width: 26rem;
  --welcome-container-padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: var(--welcome-container-max-width);
    padding: 0 var(--welcome-container-padding);
  }

  &__bottom {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem 0;
  }

  &__illustration {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: min(calc(var(--welcome-container-max-width) - (var(--welcome-container-padding) * 2)), calc(100vw - (var(--welcome-container-padding) * 2)));
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    margin-top: 2.5rem;
    text-align: center;
    flex: 1;

    strong {
      font-size: 1.25rem;
      line-height: 1.375;
      font-weight: 900;

      @media only screen and (min-width: breakpoints.$width-mobile) {
        font-size: 1.5rem;
      }
    }

    p {
      margin-top: 1.5rem;
    }
  }

  &__btn {
    padding: 1rem 1.5rem !important;
    font-size: 1.25rem !important;
  }

  &__bg-circle {
    position: absolute;
    top: calc(100% - 7.5rem);
    left: 50%;
    width: 200vw;
    height: 200vw;
    z-index: -2;
    background-color: color-mix(in srgb, var(--mui-palette-secondary-main) 30%, transparent) !important;
    border-radius: 200vw;
    transform: translateX(-50%);
  }
}
