.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 26rem;
  }

  &__bottom {
    margin-top: auto;
    text-align: center;
    padding: 2rem 0;
  }

  &__illustration {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__content {
    margin-top: 2.5rem;
    text-align: center;

    strong {
      font-size: 1.5rem;
      line-height: 1.375;
      font-weight: 900;
    }

    p {
      margin-top: 1.5rem;
    }

    a {
      color: var(--link-color);

      &:visited {
        color: var(--link-visited-color);
      }
    }
  }

  &__btn {
    padding: 1.5rem 1.5rem !important;
    font-size: 1.25rem !important;
  }

  &__bg-circle {
    position: absolute;
    top: calc(100% - 7.5rem);
    left: 50%;
    width: 200vw;
    height: 200vw;
    z-index: -2;
    background-color: color-mix(in srgb, var(--mui-palette-secondary-main) 40%, transparent) !important;
    border-radius: 200vw;
    transform: translateX(-50%);
  }
}
