.Welcome {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  &__footer {
    text-align: center;
    color: var(--mui-palette-body-main);

    a {
      color: var(--link-color);

      &:visited {
        color: var(--link-visited-color);
      }
    }
  }

  &__datan {
    border-top: 1px solid rgba(172, 172, 172, 0.5);
    padding-top: 1rem;
    justify-content: center;
    align-items: center;

    .MuiButton-root {
      margin-left: .5rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    color: var(--mui-palette-white-main);

    h2 {
      text-align: center;
      font-size: 1.625rem;
    }
  }

  &__top,
  &__bottom {
    flex: 1;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      padding: 1rem;
    }
  }

  &__top {
    background-color: var(--mui-palette-primary-main);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--mui-palette-secondary-main);
  }

  &__start {
    color: var(--mui-palette-white-main);
    height: 3.25rem;
    font-size: 1.25rem;
    width: 100%;
    margin-top: 1rem !important;

    &:hover {
      opacity: 0.9;
    }
  }
}
