.Result {
  background-color: rgba(var(--mui-palette-primary-mainChannel) / 0.25);
  border-radius: 0.675rem;
  box-shadow: var(--shadow);
  display: flex;
  height: 3.375rem;

  &__img-container {
    border-top-left-radius: 0.675rem;
    border-bottom-left-radius: 0.675rem;
    aspect-ratio: 1 / 1;
    height: 100%;
    overflow: hidden;
    background-color: var(--mui-palette-white-main);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__progress {
    @keyframes progress-bar {
      0% {
        width: 0%;
      }
    }

    height: 100%;
    border-radius: 0.675rem;
    overflow: hidden;
    width: 100%;
    flex: 1;
    position: relative;
  }

  &__bar {
    transition: width 0.3s ease-in-out;
    position: absolute;
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    animation: progress-bar 0.3s;
    animation-timing-function: ease-in-out;

    &--pour {
      background-color: var(--mui-palette-green-main);
    }

    &--contre {
      background-color: var(--mui-palette-red-main);
    }
  }

  &__name {
    color: var(--mui-palette-white-main);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    height: 100%;
    padding-left: 1rem;
    justify-content: center;
    text-align: left;
    line-height: 1.25;
    font-weight: 900 !important;

    h4 {
      margin: 0;
      font-size: 1rem;
      font-weight: 900 !important;
    }

    h5 {
      margin: 0;
      font-size: 1rem;
    }
  }

  &__ratio {
    font-weight: 700 !important;
  }

  &--simple {
    .Result {
      cursor: pointer;

      &:hover {
        opacity: 0.85;
      }

      &__progress {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &__bar {
        background-color: var(--mui-palette-green-main);
      }

      &__score {
        font-weight: lighter;
        font-size: 1.25rem;
      }
    }
  }

  &--multiple {
    .Result {
      &__score {
        text-align: right;
        line-height: 0.8rem;
        font-size: 0.7rem;
      }
    }
  }

  &__score {
    color: var(--mui-palette-white-main);
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
