@use "../abstracts" as *;

html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

@media (min-height: 1000px) { // @TODO : changer breakpoint
  html {
    zoom: 125%
  }
}

@media (max-height: 700px) { // @TODO : changer breakpoint
  html {
    zoom: 75%
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  & > * {
    margin: 0 auto;
    max-width: 30rem;
  }
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
