@use "../abstracts" as *;

.MesVotes {

  .ResultsParVote {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  .Card {
    background: var(--color-primary);
    color: white;
    height: 2px;
    padding: 1.2rem;
    margin: .5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;

    h2 {
      font-size: 1.375rem;
      text-align: center;
      margin: 0;
      padding-bottom: 1rem;
      border-bottom: #ffffff30 1px solid;
    }

    ul {
      padding-left: 1rem;

      li {
        margin-bottom: 1rem;
      }
    }

    .more-info {
      height: 2.5rem;
      width: 100%;

      &:hover {
        opacity: .9;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .actions {
        width: 100%;
        display: flex;
        gap: 1rem;

        &>div {
          flex: auto;
        }
      }

      .meta {
        opacity: .7;
        text-align: center;
        font-size: 14px;
      }

      .MuiToggleButtonGroup-root {
        background-color: white;
        border: none;

        .MuiButtonBase-root {
          border: none;
        }

        .Mui-selected {
          color: white;
          background-color: #5C90CF !important;
        }
      }
    }
  }

  .progress {
    background-color: white;
    height: 1rem;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    box-shadow: $shadow;

    .bar {
      background-color: var(--color-primary);
      position: absolute;
      transition: width 0.3s ease-in-out;
      border-radius: 1rem;
      display: block;
      height: 1rem;
      padding: 0;
      margin: 0;
    }
  }
}
