.Resultats {
  background-color: var(--mui-palette-background-paper);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 1rem;

  .header {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }

    .MuiButtonBase-root {
      height: 3rem;
    }
  }

  .MuiTabs-fixed {
    border-bottom: 1px solid rgba(172, 172, 172, 0.5);
  }

  .list {
    padding: 1rem;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;

    .explanation {
      font-size: 0.875rem;
    }

    .result {
      display: flex;
      background-color: var(--result-bg-color);
      border-radius: 0.675rem;
      height: 3.375rem;
      box-shadow: var(--shadow);

      &:hover {
        opacity: 0.85;
      }

      img {
        object-fit: contain;
        background-color: var(--mui-palette-white-main);
        width: 3.375rem;
        height: 3.375rem;
        border-top-left-radius: 0.675rem;
        border-bottom-left-radius: 0.675rem;
      }

      .progress {
        height: 3.375rem;
        border-radius: 0.675rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden;
        width: 100%;
        position: relative;

        @keyframes progress-bar {
          0% {
            width: 0%;
          }
        }

        .bar {
          background-color: var(--mui-palette-green-main);
          transition: width 0.3s ease-in-out;
          position: absolute;
          display: block;
          height: 3.375rem;
          padding: 0;
          margin: 0;
          animation: progress-bar 0.3s;
          animation-timing-function: ease-in-out;
        }

        .name {
          left: 1rem;
          color: var(--mui-palette-white-main);
          position: absolute;
          display: flex;
          flex-direction: column;
          height: 3.375rem;
          justify-content: center;

          h4 {
            margin: 0;
            font-size: 1rem;
            white-space: pre;
          }

          h5 {
            margin: 0;
            font-weight: normal;
            font-size: 1rem;
            white-space: pre;
          }
        }

        .score {
          color: var(--mui-palette-white-main);
          position: absolute;
          right: 1rem;
          line-height: 3.375rem;
          font-weight: lighter;
          font-size: 1.25rem;
        }
      }
    }

    .liste-result {
      background-color: var(--result-bg-color);
      border-radius: 0.675rem;
      cursor: pointer;
      box-shadow: var(--shadow);

      .top {
        display: flex;
        height: 3.375rem;
      }

      &:hover {
        opacity: 0.85;
      }

      img {
        object-fit: contain;
        background-color: var(--mui-palette-white-main);
        width: 3.375rem;
        height: 3.375rem;
        border-top-left-radius: 0.675rem;
        border-bottom-left-radius: 0.675rem;
      }

      .progress {
        height: 3.375rem;
        border-radius: 0.675rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden;
        width: 100%;
        position: relative;

        @keyframes progress-bar {
          0% {
            width: 0%;
          }
        }

        .bar {
          background-color: var(--mui-palette-green-main);
          transition: width 0.3s ease-in-out;
          position: absolute;
          display: block;
          height: 3.375rem;
          padding: 0;
          margin: 0;
          animation: progress-bar 0.3s;
          animation-timing-function: ease-in-out;
        }

        .name {
          left: 1rem;
          color: var(--mui-palette-white-main);
          position: absolute;
          display: flex;
          flex-direction: column;
          height: 3.375rem;
          justify-content: center;

          h4 {
            margin: 0;
            font-size: 1rem;
            white-space: pre;
          }

          h5 {
            margin: 0;
            font-weight: normal;
            font-size: 1rem;
            white-space: pre;
          }
        }

        .score {
          color: var(--mui-palette-white-main);
          position: absolute;
          right: 1rem;
          line-height: 3.375rem;
          font-weight: lighter;
          font-size: 1.25rem;
        }
      }
    }

    .reset {
      color: var(--mui-palette-white-main);
      height: 3rem;
    }
  }
}
